/*---------------------------*\
    #BASE FORMATING
\*---------------------------*/





/*---------------------------*\
    #NAV BAR
\*---------------------------*/

#signature {
    height: 48px;
}




/*---------------------------*\
    #VIDEOS
\*---------------------------*/

.site-demo {
    width: 360px;
}




/*---------------------------*\
    #LOGOS
\*---------------------------*/

.logo {
    height: 32px;
}

.icon {
    height: 16px;
}