{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section--bg-1">
  <div class="content-width">
    <h1>Notes</h1>
    <p><a href="{% url 'note' source_title='Problem Solving with Algorithms and Data Structures using Python' note_title='📖 Problem Solving with Algorithms and Data Structures using Python' %}">
      Problem Solving with Algorithms and Data Structures using Python
    </a></p>
    <p><a href="{% url 'note' source_title='Test Driven Development with Python' note_title='📖 Test Driven Development with Python' %}">
      Test Driven Development with Python
    </a></p>
  </div>
</section>
{% endblock content %}